@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" runat="server" media="screen" href="~/Content/PrimaPagina.css" />
<section class="u-clearfix u-palette-1-light-3 u-section-1 myTopMargin50" id="carousel_8716">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width-sm u-shape u-shape-svg u-text-palette-1-light-2 u-shape-1 myTopMargin160">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 150" style=""><use xlink:href="#svg-7553"></use></svg>

        </div>
        <img src="~/images/students.jpg" alt="" class="u-image u-image-default u-image-1" data-image-width="1200" data-image-height="800">
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="panel u-align-center u-container-style u-list-item u-repeater-item panel-color u-list-item-1 section-width">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <div class="panel-header u-custom-font u-font-montserrat u-text u-text-default u-text-1">Lectii</div>
                        <p class="u-text u-text-2">Aplicatia pune la dispozitie o colectie de lectii pentru elevi ai claselor I - IV</p>
                        <div class="pull-down-div"><a href="~/Course/Index" class="u-active-none u-border-2 u-border-active-black u-border-hover-black u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-body-color u-text-hover-palette-2-base u-btn-1">more</a></div>
                    </div>
                </div>
                <div class="panel u-align-center u-container-style u-list-item u-repeater-item panel-color u-list-item-2 section-width">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <div class="panel-header u-custom-font u-font-montserrat u-text u-text-default u-text-3">Noutati</div>
                        <p class="u-text u-text-4">Informatii despre concursuri, olimpiade si altele.</p>
                        <div class="pull-down-div"><a href="~/Home/willBeAdded" class="u-active-none u-border-2 u-border-active-black u-border-hover-black u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-body-color u-text-hover-palette-2-base u-btn-2">more</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>