<!DOCTYPE html>

<head>
@{
    ViewBag.Title = "Will be added";
}
</head>

<body>


<h1>You've reached a page that has not yet been developed!</h1>
</br>
<a class="u-button-style u-nav-link" href="~/Home/index">Go back to main page</a>

  </body>